@model DetailsDepartmentDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details Department</h1>

<br />
<br />
<div>

    <div class="my-3">
        <label asp-for="code" class="col-form-label"></label>
        <input asp-for="code" class="form-control" />
        <span asp-validation-for="code"></span>
    </div>

    <div class="my-3">
        <label asp-for="Name" class="col-form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="my-3">
        <label asp-for="DateOfCreation" class="col-form-label"></label>
        <input asp-for="DateOfCreation" class="form-control" />
        <span asp-validation-for="DateOfCreation"></span>
    </div>

    <div class="my-3">
       
        <a asp-action="Edit" class="btn btn-warning">Edit</a>
        <a asp-action="index" class="btn btn-light">Back To List</a>

    </div>

</div>


